@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html[data-theme="default"] {
    /* --color-esther: 34 39 46;
    --color-maximus: 45 51 59;
    --color-linx: 55 62 71; */
    --background: pink;
  }

  html[data-theme="neon"] {
    /* --color-esther: 20 61 42;
    --color-maximus: 13 82 66;
    --color-linx: 20 82 11; */
    --background: rgb(155, 153, 153);
  }
}
